html {
  background-color:#808080;
}

header {
  display: flex;
  justify-content: center;
}

.title {
  font-style: italic;
  font-size: 20px;
  color: black;
}

.text-input {
  margin-right: 8px;
  padding: 10px 10px;
  height: 10px;
  width: calc(100% - 90px);
  background-color: #C0C0C0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: black;
  overflow: overlay;
}

.addlist {
  margin: 20px 10px auto;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  min-width: 320px;
  width: 320px;
}

.add-button {
  height: 25px;
  margin-top: 10px;
  padding: 5px 5px;
  background-color: #3cb371;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}



.list {
  margin: 20px 5px auto;
  position: relative;
  display: inline-block;
  align-items: flex-start;
  min-width: 290px;
  width: 290px;
  background-color: #C0C0C0;
  border-radius: 3px;
  padding: 15px;
  border: solid #ddd 1px;
  color: black;
  vertical-align: top;
  font-weight: bold;
}

.deletelist {
  position: absolute;
  top: 6px;
  right: 14px;
  font-size: 20px;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  background-color: white;
  margin-top: 8px;
  border-radius: 3px;
  height: 50px;
  cursor: pointer;
  padding: 5px 0 5px 10px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 10px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}